.atendimento {
  align-items: center;
  min-height: 2000px;
  background: linear-gradient(90deg, #085571, #6a99a9);
  background: -webkit-linear-gradient(90deg, #085571, #6a99a9);
}

.box-card {
  justify-content: space-evenly;
  align-items: center;
}

.item-card {
  border: 1px solid #fff;
}
